tbody> tr, th, td {
    border: 2px solid black;
    background: rgb(255, 255, 255)
}

button {
    background: black;
    color: white;
    transition-property: 'background', 'color';
    transition-duration: 0.25s, 0.25s;
}

button:hover{
    background: white;
    color: black;
}

body {
    background-color: grey;
}